{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,

  "overrides": [
    {
      "files": "tsconfig.json",
      "options": {
        "parser": "json"
      }
    }
  ],
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^express$",
    "^dotenv$",
    "^winston$",
    "^winston-daily-rotate-file$",
    "^@controllers/(.*)$",
    "^@middleware/(.*)$",
    "^@models/(.*)$",
    "^@routes/(.*)$",
    "^@services/(.*)$",
    "^@utils/(.*)$",
    "^[./]"
  ],

  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
